# Ignore files and folders in ETR GTK
ETR GTK/b/c/
ETR GTK/c/d/
ETR GTK/.idea/
ETR GTK/.vscode/
ETR GTK/cmake-build-debug/

# Ignore files and folders in ETR RAYLIB
ETR RAYLIB/buikd/
ETR RAYLIB/cmake-build-debug/
ETR RAYLIB/.idea/
ETR RAYLIB/.vscode/
ETR RAYLIB/resources/

# Ignore general files and folders
.idea/
cmake-build-debug/
